// Override Bootstrap's Sass default variables
//
/*
    這個檔案是擴充 Bootstrap 或改他的變數，盡量直接改變數效能會比較好
*/



// Toggle global options
$enable-gradients: false;
$enable-shadows: false;
$enable-rounded: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Include functions first
@import "bootstrap/scss/functions";

// Customize some defaults
$primary: #BF9D7D;
$dart-bg: #140F0A;

$body-color: #F7F2EE;
$body-bg: $dart-bg;

$border-radius: .4rem;
// color 
$red: #DA3E51;
$success: #7952b3;
$bar-dark-color: #140F0A;


$custom-primary-10: #F7F2EE !default;

// navbar

// input
$input-bg: $body-color;
$input-color: $dart-bg;
$input-btn-padding-y: .7rem;
$input-border-radius: 8px;

// button
$btn-border-radius: 8px;
$border-radius: 8px;


// Required

@import "./utils/variables";  // custom
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "./utils/utilities";   // custom
// @import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";


//
// Custom styles
//
@import "./all.scss";
@import "./utils/typography";  // custom