.step-button{
    @extend .h3;
    @extend .btn;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 0;
    margin-bottom: 10px;
}
.step-item{
    text-align: center;
}

.login-bg{
    color: #fff;
    .set-height{
        min-height: calc(100vh - 100px);
    }
    @media screen and (min-width: 768px) {
        background-image: url('../assets/images/pc/register.png');
        background-size: 43%;
        background-position: left top;
        background-repeat: no-repeat;
        height: calc(100vh - 95px);
    }
}

.input-hidden{
    background-color: transparent;
    border: none;
    color: #000;
    -webkit-appearance: none;
}